{% extends 'backend.template.html.twig' %}

{% block stylesheet %}
    {{ parent()}}
    <link href="{{ asset('bundles/hohaya/admin/plugins/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h1 class="box-title">
                    Liste des sous menus
                </h1>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">

                <div class="table-responsive">
                    <table id="smenu" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titre</th>
                                <th>Route</th>
                                <th>Menu</th>
                                <th>Position</th>
                                <th style="text-align:center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sMenu in sMenus %}
                                <tr>
                                    <td>
                                        <a href="{{ path('smenu_show', { 'id': sMenu.id }) }}">{{ sMenu.id }}</a>
                                    </td>
                                    <td>{{ sMenu.titre }}</td>
                                    <td>{{ sMenu.route }}</td>
                                    <td>{{ sMenu.menu.titre }}</td>
                                    <td>{{ sMenu.ordreAffichage }}</td>
                                    <td style="text-align:center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Actions
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                <li>
                                                    <a href="{{ path('smenu_show', { 'id': sMenu.id }) }}">Afficher</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('smenu_new', {'id': sMenu.id }) }}">Modifier</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('smenu_delete', {'id': sMenu.id }) }}">Supprimer</a>
                                                </li>
                                            </ul>
                                        </div>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script> -->
    <script src="{{ asset('bundles/hohaya/admin/plugins/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/hohaya/admin/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>

    <script>
        jQuery(document).ready(function () {
            $('#smenu').DataTable();
        });
    </script>
{% endblock %}