{% trans_default_domain 'FOSUserBundle' %}

<p class="login-box-msg"><b>CONNEXION</b></p>

{% if error %}
    <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("hohaya_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}
    <div class="form-group has-feedback">
        <input type="text" id="username" name="_username" class="form-control" 
            placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}" required="required" autocomplete="username"/>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input type="password" id="password" name="_password" class="form-control" 
            placeholder="{{ 'security.login.password'|trans }}" required="required" autocomplete="current-password"/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-7">
            <div class="checkbox icheck">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    {{ 'security.login.remember_me'|trans }}
                </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-5">
            <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block btn-flat">Me connecter</button>
        </div>
        <!-- /.col -->
    </div>
</form>

<hr/>

<a href="#">J'ai oublié mon mot de passe</a><br>